ul {
  list-style-type: none;
}

// ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
// .mat-checkbox-indeterminate .mat-checkbox-background {
//   background-color:inherit!important;
// }

::ng-deep .switch.checked {
  // background: #efefef !important;
  background: rgba(black, 0.2);
}

.delete-icon {
  margin-top: 5px;
  cursor: pointer;
  color: gray;
}

.more-options-icon {
  margin-top: 5px;
  cursor: pointer;
  color: gray;
}

.create-event-btn {
  border-radius: 25px;
}
.expanded-profile-panel {
  height: 36%;
  overflow: auto;
}
.expanded-calendar-panel {
  height: 60%;
  overflow: auto;
}
