<mat-card class="mat-elevation-z5" style="height: 100%;">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel style="box-shadow: none;" [expanded]="'true'">
      <mat-expansion-panel-header>
        <mat-panel-title> <strong>My Profiles</strong> </mat-panel-title>
        <!-- <mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description> -->
      </mat-expansion-panel-header>
      <table>
        <tr *ngFor="let profile of profiles">
          <td>
            <ui-switch
              size="small"
              [(ngModel)]="profile.selected"
              (ngModelChange) = "changeProfileFilter()"
              switchColor="{{ profile.color }}"
            ></ui-switch>
          </td>
          <td style="vertical-align: bottom;">
            {{ profile.name }}
          </td>
        </tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel style="box-shadow: none;" [expanded]="'true'">
      <mat-expansion-panel-header>
        <mat-panel-title> <strong>My Calendars</strong> </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline" class='example-full-width'>
        <input [(ngModel)]="calendarTitle" matInput (keyup.enter)="addNewCalendar()" placeholder="Add new calendar..." />
      </mat-form-field>
<table>
  <tr *ngFor="let calendar of calendarList">
    <td>
      <ui-switch size="small" [(ngModel)]="calendar.value" switchColor="{{ calendar.color }}">
      </ui-switch>
    </td>
    <td style="vertical-align: center;">
      {{ calendar.name }}
    </td>
    <td>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon matTooltip="Options for {{calendar.name}}" class="material-icons md-18">more_vert
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div mat-menu-item style="display:flex">
          <span style="margin-right:10px;line-height: 33px;">Pick a Color</span>
          <ngx-colors ngx-colors-trigger [hideTextInput]="true" [hideColorPicker]="false" [(ngModel)]="calendar.color">
            Color
          </ngx-colors>
        </div>
        <button mat-menu-item>
          <span>Display this only</span>
        </button>
      </mat-menu>
    </td>
  </tr>
</table>
<!-- <div class="row" *ngFor="let calendar of calendarList">
      <div class="col-md-3">
      <ui-switch size="small" [(ngModel)]="calendar.value" color="{{ calendar.color }}"></ui-switch>
        <mat-checkbox [ngStyle]="{'border-color' : calendar.color}"></mat-checkbox>
        </div>
        <div class="col-md-7">
          <mat-label style="overflow-wrap: break-word;">{{ calendar.name }}</mat-label>
        </div>
        <div class="col-md-3" style="align-self: center;">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon matTooltip="Options for {{calendar.name}}" class="material-icons md-18">more_vert
            </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <div mat-menu-item style="display:flex">
              <span style="margin-right:10px;line-height: 33px;">Pick a Color</span>
              <ngx-colors ngx-colors-trigger [hideTextInput]="true" [hideColorPicker]="false" [(ngModel)]="calendar.color">Color
              </ngx-colors>
            </div>
            <button mat-menu-item>
              <span>Display this only</span>
            </button>
          </mat-menu>
        </div>
        </div> -->
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
