<div class="createevent-panel">
  <div class="flex-vertical">
    <div
      class="row justify-content-between"
      style="
        border-bottom: solid #d1d1d1;
        border-bottom-width: 2px;
        margin-bottom: 10px;
        color: gray;
      "
    >
      <div class="col-md-10" *ngIf="!editFlag">Create Event</div>
      <div class="col-md-10" *ngIf="editFlag">Edit Event</div>
      <div class="col-md-2" class="task-panel-close">
        <mat-icon
          matTooltip="Close"
          class="material-icons md-18"
          (click)="close()"
          >close</mat-icon
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            [(ngModel)]="data.title"
            matInput
            required
            placeholder="Enter Event Title"
          />
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <div>
          <ngx-colors
            ngx-colors-trigger
            [hideTextInput]="'true'"
            [hideColorPicker]="'false'"
            [(ngModel)]="color"
            >Color</ngx-colors
          >
        </div>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Choose Calendar</mat-label>
      <mat-select>
        <mat-option *ngFor="let calendar of calendars" [value]="calendar">{{
          calendar.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row">
      <div class = "col-md-6">
        <mat-form-field>
          <input
            [(ngModel)]="data.startTime"
            matInput
            [ngxMatDatetimePicker]="picker"
            placeholder="Choose a start date and time"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [enableMeridian]="enableMeridian">
            <!-- Custom icon or text of Apply icon -->
            <ng-template>
              <!-- <mat-icon>star</mat-icon> -->
              <span>OK</span>
            </ng-template>
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>

      <div class = "col-md-6">
        <mat-form-field>
          <input
            [(ngModel)]="data.endTime"
            matInput
            [ngxMatDatetimePicker]="picker2"
            placeholder="Choose an end date and time"
          />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker2 [enableMeridian]="enableMeridian">
            <!-- Custom icon or text of Apply icon -->
            <ng-template>
              <!-- <mat-icon>star</mat-icon> -->
              <span>OK</span>
            </ng-template>
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
    </div>



    

    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Enter the location" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Event Details</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="0"
        cdkAutosizeMaxRows="5"
        placeholder="Add details"
      ></textarea>
    </mat-form-field>

      <div class = "row">
        <div class ="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Reminder</mat-label>
            <mat-select>
              <mat-option value="five">5 minutes</mat-option>
              <mat-option value="ten">10 minutes</mat-option>
              <mat-option value="fifteen">15 minutes</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class = "col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Notification Type</mat-label>
            <mat-select>
              <mat-option value="email">Email</mat-option>
              <mat-option value="text">Text</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class = "row">
        <div class="col-md-7">
          <mat-form-field appearance="outline">
            <mat-label>Recurring</mat-label>
            <mat-select>
              <mat-option value="none">None</mat-option>
              <mat-option value="daily">Daily</mat-option>
              <mat-option value="weekly">Weekly</mat-option>
              <mat-option value="monthly">Monthly</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-checkbox>All Day Event</mat-checkbox>
        </div>
      </div>
      

    <button
      mat-raised-button
      color="primary"
      style="margin: 0.5em"
      (click)="createEvent()"
      *ngIf="!editFlag"
    >
      Create Event
    </button>
    <div *ngIf="editFlag">
      <button
        mat-raised-button
        color="primary"
        style="margin: 0.5em"
        (click)="cancelUpdateToEvent()"
        *ngIf="editFlag"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        style="margin: 0.5em"
        (click)="editEvent()"
        *ngIf="editFlag"
      >
        Update Event
      </button>
    </div>
  </div>
</div>