.icon-drawer {
  //   border-left: solid 1px gray;
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
}
.icons {
  margin-top: 20px;
}
.task-icon {
  cursor: pointer;
  color: blueviolet;
  margin: 10px;
  margin-bottom: 20px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-40 {
  font-size: 40px;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
