.icon-drawer {
  //   border-left: solid 1px gray;
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
}
.icons {
  margin-top: 20px;
}
.task-icon {
  cursor: pointer;
  color: blueviolet;
}
