<div class="container">
    <mat-card class="mat-elevation-z5 addprofile-panel">
        <div class="flex-vertical">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                  [(ngModel)]="userModel.firstName"
                  matInput
                  placeholder="Enter your first name"
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input
                [(ngModel)]="userModel.middleName"
                matInput
                placeholder="Enter your middle name"
            />
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
                [(ngModel)]="userModel.lastName"
                matInput
                placeholder="Enter your last name"
            />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select [(ngModel)]="userModel.gender">
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input
                    [(ngModel)]="birthdate"
                    matInput
                    [matDatepicker]="datepicker"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="datepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>
                        Apply
                    </button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email ID</mat-label>
                <input
                  [(ngModel)]="userModel.email"
                  matInput
                  placeholder="Enter your email ID"
                />
            </mat-form-field>
            <mat-form-field>
                <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr" [disabled]="disabled">
                <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
            </mat-form-field>
        </div>
    </mat-card>
  </div>
  