.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.row {
  margin-right: 0px;
}
.cell-profile-dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  background-color: skyblue;
}
.cell-profile-dot-container {
  border-bottom: solid 1px var(--color);
  white-space: normal;
  margin: 0px 6px 0px 6px;
}

.cell-title-bar {
  color: var(--color);
  border-left: solid 5px var(--color);
  // border-radius: 0.5em;
  // padding: 0px 9px 2px 9px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 8px;
  z-index: 1000;
}

.cal-cell-content {
  width: 100%;
  white-space: nowrap;
}
.cell-title-bar::before {
  background-color: var(--color);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -900;
}
.cell-long-event {
  color: var(--color);
  // padding: 0px 9px 2px 9px;
  margin-bottom: 3px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 8px;
  z-index: 1000;
}
.cell-long-event::before {
  background-color: var(--color);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -10;
}
.cell-show-more-text {
  text-align: center;
}
