.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons {
  color: gray;
}
.cell-profile-dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  background-color: skyblue;
  cursor: pointer;
}
.event-title {
  font-size: x-large;
}
.event-duration {
  font-size: medium;
  color: gray;
}
