::ng-deep .mat-button-toggle-label-content {
  line-height: 30px !important;
}
.view-control {
  font-size: smaller;
  border-radius: 32px;
  border-color: white;
}
.view-date {
  font-size: larger !important;
}
::ng-deep .mat-button-toggle {
  background: none;
  color: white !important;
}
.mat-button-toggle-checked {
  background: linear-gradient(49deg, black, transparent);
}
