<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Morganizer</span>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    class="material-icons md-24"
    aria-label="user profile icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    class="material-icons md-24"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
