<mat-toolbar color="primary" style="font-size: medium">
  <div class="row" style="width: 100%">
    <div class="col-md-2 col-lg-2 col-xl-2 align-self-center">
      <button mat-icon-button aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Morganized</span>
    </div>
    <div
      *ngIf="loggedInUser"
      class="col-md-9 col-lg-9 col-xl-9 align-self-center"
    >
      <app-calendar-control></app-calendar-control>
    </div>
    <div
      class="col-md-1 col-lg-1 col-xl-1 align-self-center"
      style="text-align: end"
    >
      <div *ngIf="loggedInUser">
        <span>Hi, {{ loggedInUser.firstName }}</span>
        <button
          mat-icon-button
          aria-label="user profile icon"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item (click)="logOut()">Sign Out</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <!-- <button mat-icon-button aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Morganized</span>
  <span class="toolbar-spacer"></span>
  <app-calendar-control *ngIf="loggedInUser"></app-calendar-control>
  <span class="toolbar-spacer"></span>
  <div *ngIf="loggedInUser">
    <span>Hi, {{ loggedInUser.firstName }}</span>
    <button
      mat-icon-button
      aria-label="user profile icon"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logOut()">Sign Out</button>
    </mat-menu>
  </div> -->
</mat-toolbar>
