<div class="container">
  <mat-card class="mat-elevation-z5 signup-panel">
    <div style="display: flex">
      <div style="width: 10%">
        <mat-icon
          class="return-icon"
          (click)="backToLogin()"
          matTooltip="Back to Login"
        >
          logout
        </mat-icon>
      </div>
      <div style="width: 90%">
        <mat-card-title class="register-title"> Sign Up </mat-card-title>
      </div>
    </div>

    <mat-tab-group
      [selectedIndex]="tabIndex"
      (selectedIndexChange)="tabSelectionChanged($event)"
      animationDuration="500ms"
    >
      <mat-tab label="Personal">
        <form [formGroup]="personalForm" novalidate>
          <div class="flex-vertical">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                formControlName="firstName"
                matInput
                required
                placeholder="Enter your first name"
              />
              <mat-error *ngIf="personalForm.get('firstName').errors?.required">
                <strong> First Name</strong> is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Middle Name</mat-label>
              <input
                formControlName="middleName"
                matInput
                placeholder="Enter your middle name"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                formControlName="lastName"
                matInput
                required
                placeholder="Enter your last name"
              />
              <mat-error *ngIf="personalForm.get('lastName').errors?.required">
                <strong> Last Name</strong> is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender" required>
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="other">Other</mat-option>
              </mat-select>
              <mat-error *ngIf="personalForm.get('gender').errors?.required">
                <strong> Gender</strong> is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input
                formControlName="birthdate"
                matInput
                required
                [matDatepicker]="datepicker"
              />
              <mat-error *ngIf="personalForm.get('birthdate').errors?.required">
                <strong> Date of Birth</strong> is required
              </mat-error>
              <mat-datepicker-toggle
                matSuffix
                [for]="datepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>
                    Apply
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input formControlName="phoneNumber" required matInput placeholder="Enter your phone number" />
              <mat-error *ngIf="personalForm.get('phoneNumber').errors?.required">
                <strong> Phone Number</strong> is required
              </mat-error>
              <mat-error *ngIf="personalForm.get('phoneNumber').errors?.pattern">
                Invalid Phone Number
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Account">
        <form [formGroup]="accountForm" novalidate>
          <div class="flex-vertical">
            <mat-form-field appearance="outline">
              <mat-label>Email ID</mat-label>
              <input
                formControlName="email"
                matInput
                required
                placeholder="Enter your email ID"
              />
              <mat-error *ngIf="accountForm.get('email').errors?.required">
                <strong> Email Id</strong> is required
              </mat-error>
              <mat-error *ngIf="accountForm.get('email').errors?.email">
                <strong> Invalid Email Id</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                formControlName="username"
                matInput
                required
                placeholder="Enter your username"
              />
              <mat-error *ngIf="accountForm.get('username').errors?.required">
                <strong> Username</strong> is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                formControlName="password"
                type="password"
                required
                matInput
                placeholder="Enter your password"
              />

              <mat-error *ngIf="accountForm.get('password').errors?.required">
                <strong> Password</strong> is required
              </mat-error>
            </mat-form-field>
            <div
              *ngIf="accountForm.get('password').errors?.pattern"
              style="color: red"
            >
              <ul>
                <li>Atleast 8 characters in length</li>
                <li>Lowercase letters</li>
                <li>Uppercase letters</li>
                <li>Numbers</li>
                <li>Atleast one special character(!,@,#,$,%,^,&)</li>
              </ul>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                formControlName="confirmPassword"
                type="password"
                required
                matInput
                placeholder="Confirm your password"
              />
              <mat-error
                *ngIf="accountForm.get('confirmPassword').errors?.required"
              >
                <strong>Confirm password</strong> is required
              </mat-error>
              <mat-error
                *ngIf="accountForm.get('confirmPassword').errors?.mustMatch"
              >
                <strong>Passwords must match</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Security Question</mat-label>
              <mat-select formControlName="securityQuestion" required matInput placeholder="Choose your security question">
                <mat-option *ngFor="let q of questionList" [value]="q.questionid">{{q.questiontext}}
                </mat-option>
              </mat-select>
              <!-- <mat-select [compareWith]="compareCalendarObjects" [(ngModel)]="data.calendar" required>
                            <mat-option *ngFor="let calendar of calendarList" [value]="calendar">{{
                              calendar.name
                              }}</mat-option>
                          </mat-select> -->
              <!-- <input formControlName="securityQuestion" required matInput placeholder="Choose your security question" /> -->
              <mat-error *ngIf="accountForm.get('securityQuestion').errors?.required">
                <strong> Security Question</strong> is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Security Answer</mat-label>
              <input formControlName="securityAnswer" required matInput placeholder="Enter your answer" />
              <mat-error *ngIf="accountForm.get('securityAnswer').errors?.required">
                <strong> Security Answer</strong> is required
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
    <p *ngIf="apiError">
      <ngb-alert [type]="error.type" (closed)="closeErrorAlert()">{{
        error.message
      }}</ngb-alert>
    </p>
    <div class="navigation-btns">
      <button
        mat-raised-button
        class="btn-animation btn-left-align"
        color="primary"
        style="margin: 0.5em"
        (click)="decrementIndex()"
        [disabled]="tabIndex === 0"
      >
        Back
      </button>
      <button
        *ngIf="tabIndex < 1"
        mat-raised-button
        class="btn-animation btn-right-align"
        color="primary"
        style="margin: 0.5em"
        (click)="incrementIndex()"
        [disabled]="!personalForm.valid"
      >
        Next
      </button>
      <button
        *ngIf="tabIndex === 1"
        mat-raised-button
        class="btn-animation btn-right-align"
        color="primary"
        style="margin: 0.5em"
        (click)="registerUser()"
        [disabled]="!accountForm.valid || !personalForm.valid"
      >
        Submit
      </button>
    </div>
  </mat-card>
</div>
