.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.signup-panel {
  max-width: 100%;
}
.navigation-btns {
  justify-content: space-between;
}
.btn-left-align {
  float: left;
}
.btn-right-align {
  float: right;
}
.register-title {
  color: var(--icon-color);
  text-align: center;
  font-weight: bold;
}
.return-icon {
  transform: rotate(180deg);
  color: var(--icon-color);
  cursor: pointer;
}
