.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.login-panel {
  width: max-content;
}
.btn-animation:hover {
  background-color: rgba(24, 217, 231, 0.96);
  color: rgba(48, 48, 250, 0.96);
  transition: 0.5s ease-in-out;
}
