.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.login-panel {
  width: max-content;
}
.login-title {
  color: #673ab7;
  text-align: center;
  font-weight: bold;
}
