<div class="container">
  <mat-card class="mat-elevation-z5 reset-panel">
    <mat-card-title class="reset-title">
      <div style="margin: 10px;">Reset your password</div>
    </mat-card-title>
    <div class="flex-vertical" *ngIf='displayScreen===1'>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
          [(ngModel)]="userName"
            matInput
            required
            placeholder="Enter your username"
          />
        </mat-form-field>
<button mat-raised-button class="btn-animation" color="primary" style="margin: 0.5em;" (click)="resetPassword()">
  Next
</button>

<a routerLink="../login" class="btn btn-link">Cancel</a>
</div>

<div class="flex-vertical" *ngIf='displayScreen===2'>
        <mat-form-field appearance="outline">
          <mat-label>Security Question</mat-label>
          <mat-label>{{resetPasswordModel.questiontext}}</mat-label>
          <input
          [(ngModel)]="userAnswer"
            matInput
            required
            placeholder="Your response"
          />
        </mat-form-field>
<button mat-raised-button class="btn-animation" color="primary" style="margin: 0.5em;" (click)="resetPassword2()">
  Next
</button>

<a routerLink="../login" class="btn btn-link">Cancel</a>
</div>

<div class="flex-vertical" *ngIf='displayScreen===3'>
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
          [(ngModel)]="newPassword"
            matInput
            required
            placeholder="Your response"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
          [(ngModel)]="confirmPassword"
            matInput
            required
            placeholder="Your response"
          />
        </mat-form-field>
<button mat-raised-button class="btn-animation" color="primary" style="margin: 0.5em;" (click)="resetPassword3()">
  Submit
</button>
<a routerLink="../login" class="btn btn-link">Login</a>
      </div>
  </mat-card>
</div>
