<!--<p>reset-password works!</p>-->
<div class="container">
  <mat-card class="mat-elevation-z5 signup-panel">
    <div style="display: flex">
      <div style="width: 100%">
        <mat-card-title class="register-title"> Reset Password </mat-card-title>
      </div>
    </div>
    <form [formGroup]="resetForm" novalidate>
      <div class="flex-vertical">
        <!-- <mat-form-field appearance="outline">
                                  <mat-label>Email ID</mat-label>
        <input
          formControlName="email"
          matInput
          required
          placeholder="Enter your email ID"
        />
        <mat-error *ngIf="accountForm.get('email').errors?.required">
          <strong> Email Id</strong> is required
        </mat-error>
        <mat-error *ngIf="accountForm.get('email').errors?.email">
          <strong> Invalid Email Id</strong>
        </mat-error>
        </mat-form-field> -->
        <mat-form-field appearance="outline" *ngIf="showScreen==1">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput required placeholder="Enter your username" />
          <mat-error *ngIf="resetForm.get('username').errors?.required">
            <strong> Username</strong> is required
          </mat-error>
          </mat-form-field>
      <div *ngIf="showScreen==2">
        <p class="mat-caption">Security Question</p>
        <p class="mat-body">{{question.questiontext}}</p>
      </div>
      
      <mat-form-field appearance="outline" *ngIf="showScreen==2">
        <mat-label>Answer</mat-label>
        <input formControlName="answer" matInput required placeholder="Enter your answer" />
        <mat-error *ngIf="resetForm.get('answer').errors?.required">
          <strong>Answer</strong> is required
        </mat-error>
</mat-form-field>
<mat-form-field appearance="outline" *ngIf="showScreen==3">
  <mat-label>Password</mat-label>
  <input formControlName="password" type="password" required matInput placeholder="Enter your password" />
  <mat-error *ngIf="resetForm.get('password').errors?.required">
    <strong> Password</strong> is required
  </mat-error>
</mat-form-field>
<div *ngIf="showScreen==3 && resetForm.get('password').errors?.pattern" style="color: red">
  <ul>
    <li>Atleast 8 characters in length</li>
    <li>Lowercase letters</li>
    <li>Uppercase letters</li>
    <li>Numbers</li>
    <li>Atleast one special character(!,@,#,$,%,^,&)</li>
  </ul>
</div>
<mat-form-field appearance="outline" *ngIf="showScreen==3">
    <mat-label>Confirm Password</mat-label>
    <input formControlName="confirmPassword" type="password" required matInput placeholder="Confirm your password" />
    <mat-error *ngIf="resetForm.get('confirmPassword').errors?.required">
      <strong>Confirm password</strong> is required
    </mat-error>
    <mat-error *ngIf="resetForm.get('confirmPassword').errors?.mustMatch">
      <strong>Passwords must match</strong>
    </mat-error>
  </mat-form-field>
<p *ngIf="apiError">
  <ngb-alert [type]="error.type" (closed)="closeErrorAlert()">{{
    error.message
    }}</ngb-alert>
</p>
<div class="navigation-btns">
  <a routerLink="../login" class="btn btn-link">Cancel</a>

  <button *ngIf="showScreen==1" mat-raised-button class="btn-animation btn-right-align" color="primary"
    style="margin: 0.5em" (click)="confirmUsername()" [disabled]="!resetForm.valid">
    Next
  </button>
  <button *ngIf="showScreen==2" mat-raised-button class="btn-animation btn-right-align" color="primary"
    style="margin: 0.5em" (click)="confirmSecurityAnswer()" [disabled]="!resetForm.valid">
    Next
  </button>
  <button *ngIf="showScreen==3" mat-raised-button class="btn-animation btn-right-align" color="primary"
    style="margin: 0.5em" (click)="resetPassword()" [disabled]="!resetForm.valid">
    ResetPassword
          </button>
        </div>
        </div>
  </form>
  </mat-card>
</div>
