<!--<p>reset-password works!</p>-->
<div class="container">
  <mat-card class="mat-elevation-z5 signup-panel">
    <div class="flex-vertical">
      <!--
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Reset Password
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div> -->
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          [(ngModel)]="resetPasswordModel.username"
          matInput
          placeholder="Enter your username"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Old Password</mat-label>
        <input
          [(ngModel)]="resetPasswordModel.oldpassword"
          type="password"
          matInput
          placeholder="Enter your old password"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          [(ngModel)]="resetPasswordModel.newpassword"
          type="password"
          matInput
          placeholder="Enter your new password"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          [(ngModel)]="confirmPassword"
          type="password"
          matInput
          placeholder="Confirm your password"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Security Question</mat-label>
        <mat-select>
          <mat-option *ngFor="let q of ques" [value]="q.name">
            {{ q.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Your Answer</mat-label>
        <input
          [(ngModel)]="resetPasswordModel.answer"
          matInput
          placeholder="Enter your answer"
        />
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          class="btn-animation"
          color="primary"
          style="margin: 0.5em;"
          (click)="resetPassword()"
        >
          Reset Password
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </div>
  </mat-card>
</div>
