.cell-profile-dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  background-color: skyblue;
}
.cell-profile-dot-container {
  border-bottom: solid 1px var(--color);
  white-space: normal;
  margin: 0px 6px 0px 6px;
}

.cell-title-bar {
  color: var(--color);
  border-left: solid 3px var(--color);
  // border-radius: 0.5em;
  // padding: 0px 9px 2px 9px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 8px;
  z-index: 1000;
  cursor: pointer;
}

.cal-cell-content {
  width: 100%;
  white-space: nowrap;
}
.cell-title-bar::before {
  background-color: var(--color);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -900;
}

::ng-deep .mat-dialog-container {
  padding: 15px;
  border-radius: 16px;
}
.event-day {
  text-transform: uppercase;
  font-size: small;
  text-align: end;
  color: gray;
}
.cell-long-event {
  color: var(--color);
  // padding: 0px 9px 2px 9px;
  // margin-bottom: 3px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 8px;
  z-index: 1000;
  cursor: pointer;
}
.cell-long-event::before {
  background-color: var(--color);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -10;
}
.arrow-right {
  border-top: 21px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 8px solid var(--color);
  top: 5px;
  position: relative;
}
.arrow-left {
  border-top: 21px solid transparent;
  border-right: 8px solid var(--color);
  border-bottom: 24px solid transparent;
  top: 5px;
  position: relative;
}

.float-container {
  display: flex;
}
