<div>
  <div class="row">
    <div class="col event-day" style="text-align: center">
      <span style="position: absolute">{{ data.date | date: "E" }}</span>
    </div>
    <span>
      <mat-icon
        class="material-icons md-18"
        style="cursor: pointer"
        matTooltip="Close"
        (click)="close()"
        >close</mat-icon
      >
    </span>
  </div>
  <div class="row">
    <div class="col" style="text-align: center; font-size: x-large">
      <span>{{ data.date | date: "d" }}</span>
    </div>
  </div>
  <div
    mwlDraggable
    [dropData]="{ event: event }"
    (dragEnd)="dragEnd($event)"
    class="cal-cell-content"
    *ngFor="let event of data.events"
    (click)="emitEventClicked(event)"
  >
    <div
      *ngIf="!isLongEvent(event)"
      class="cell-title-bar"
      style="--color: {{ event.color.primary }}"
    >
      <div
        class="cell-profile-dot-container"
        *ngIf="event.assigneeList && event.assigneeList.length > 0"
      >
        <span
          *ngFor="let assignee of event.assigneeList"
          class="cell-profile-dot mat-elevation-z2"
          [style.background]="assignee.color"
          matTooltip="{{ assignee.name }}"
        ></span>
      </div>
      <div class="cell-profile-dot-container" *ngIf="!event.assigneeList || event.assigneeList.length == 0">
        <span matTooltip="No Assignee ">X</span>
      </div>
      <span>
        <span>
          <small
            *ngIf="!event.allDay"
            style="font-weight: 800; padding-left: 6px"
            >{{ event.start | date: "hh:mm aa" }} -
          </small>
        </span>
        <small class="title" style="margin-left: 3px; font-weight: 500">{{
          event.title
        }}</small>
      </span>
    </div>
    <div *ngIf="isLongEvent(event)">
      <div class="float-container" style="width: 100%">
        <div
          *ngIf="
            checkIfMiddleCell(event, data.date) ||
            checkIfLastCell(event, data.date)
          "
          class="arrow-left"
          style="width: 10%"
          style="--color: {{ event.color.primary }}"
        ></div>
        <div
          [style.width.%]="checkIfMiddleCell(event, data.date) ? 80 : 90"
          style="padding-left: 0px; padding-right: 0px"
        >
          <div
            class="cell-long-event"
            style="--color: {{ event.color.primary }}"
            [style.border-left]="
              checkIfFirstCell(event, data.date) ? 'solid 3px' : 'none'
            "
          >
            <div
              class="cell-profile-dot-container"
              *ngIf="event.assigneeList && event.assigneeList.length > 0"
            >
              <span
                *ngFor="let assignee of event.assigneeList"
                class="cell-profile-dot mat-elevation-z2"
                [style.background]="assignee.color"
                matTooltip="{{ assignee.name }}"
              ></span>
            </div>
            <div class="cell-profile-dot-container" *ngIf="!event.assigneeList || event.assigneeList.length == 0">
              <span matTooltip="No Assignee ">X</span>
            </div>
            <span>
              <span>
                <small
                  *ngIf="!event.allDay"
                  style="font-weight: 800; padding-left: 6px"
                  >{{ event.start | date: "hh:mm aa" }} -
                </small>
              </span>
              <small class="title" style="margin-left: 3px; font-weight: 500">{{
                event.title
              }}</small>
            </span>
          </div>
        </div>
        <div
          *ngIf="
            checkIfMiddleCell(event, data.date) ||
            checkIfFirstCell(event, data.date)
          "
          class="arrow-right"
          style="--color: {{ event.color.primary }};padding-right:0px;width:10%"
        ></div>
      </div>
    </div>
  </div>
</div>
